{% extends 'base.html.twig' %}
{% block title %}Otaku's Collection - Contact{% endblock %}

{% block section %}

    <!-- contact us start-->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-us-content p-4">
                        <h1 class="pt-3">Salut, comment puis-je t'aider?</h1>
                        <p class="pt-3 pb-5"> </div>
                </div>
                <div class="col-md-6">
{#                    Affichage du formulaire de contact#}
                    {{form(messageForm)}}
                </div>
            </div>
        </div>
    </section>
    <!-- contact us end -->

{% endblock section %}