{% extends 'Layouts/admin.html.twig' %}

{% block content %}
<section class="section col-lg-8">
    <div class="container">
            <h2 class="text-center widget-header">Ajoute un Manga</h2>
            {{ form(mangaForm) }}
    </div>
</section>
{% endblock content %}