{% extends 'base.html.twig' %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="text-center widget-header">Ajoute un Tome</h2>
            {{ form(tomeForm) }}
        </div>
    </div>
</section>
{% endblock content %}