{% extends 'Layouts/admin.html.twig' %}

{% block content %}

    <div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0">
        <!-- Recently Favorited -->
        <div class="widget dashboard-container my-adslist">
            <h2 class="widget-header">Les commentaires</h2>
            <table class="table table-responsive product-dashboard-table">
                <thead>
                <tr>
                    <th class="text-center">Date</th>
                    <th class="text-center">Utilisateur</th>
                    <th class="text-center">Manga</th>
                    <th class="text-center">Commentaires</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for comment in comments %}
                <tr>

                    <td class="product-thumb">
                        <p>{{ comment.date  | date('d-m-Y') }}</p>
                    </td>
                    <td class="author" >
                        <span>{{ comment.user.username }}</span>
                    </td>
                    <td class="tomes"><span></span></td>
                    <td class="product-details"><p>{{ comment.message }}</p></td>
                    <td class="action" data-title="Action">
                        <div class="">
                            <ul class="list-inline justify-content-center">
                                <li class="list-inline-item">
                                    <a data-placement="top" title="Delete" class="delete" href="" data-toggle="modal"
                                       data-target="#deleteitem"> <i class="fa fa-trash"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>

                {% endfor %}
                </tbody>
            </table>

        </div>
        {{ knp_pagination_render(comments) }}

    </div>


{% endblock content %}