{% extends 'Layouts/admin.html.twig' %}

{% block content %}
    <section class="section col-lg-8">
        <div class="container">
            <h2 class="text-center widget-header">Ajoute un Tome</h2>
            {# Formulaire utilisé lors de la création ou l'édition d'un tome #}
            {{ form(tomeForm) }}
        </div>
    </section>
{% endblock content %}